.App {
  text-align: center;
  align-items: center;
  background-image: url("NZB App BG.jpg");
  background-repeat: repeat;
  width: 100%;
  margin: 0 auto;
  display: block;
  position: absolute;
  border: 0;
  left: 0;
  top: 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
}

.App-link {
  color: #61dafb;
  font-size: 1.5em;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}
.App-link:hover {
  color: rgb(230, 230, 230);
}
